// scss-lint:disable EmptyRule

// Link
a {
  @include transition(all 0.5s);
  color: $link;

  &:visited {

  }

  &:hover,
  &:focus {
    color: $hover;
  }

  &:active,
  &.active {

  }
}

//
// Links
//
li a {
  &.active {
    color: $link;

    &:hover {
      color: $hover;
    }
  }
}

//
// Mark, new
//
.marker {
  a {

  }
}

//
// More help link
//
.more-help-link {
  a {

  }
}

 //
 // More link
 //
.more-link {
  a {

  }
}
