.icon-play_arrow_blue { background-image: url('png/play_arrow_blue.png'); background-repeat: no-repeat; }

.icon-play_arrow_orng { background-image: url('png/play_arrow_orng.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-search_active { background-image: url('png/search_active.png'); background-repeat: no-repeat; }

.icon-x_icon { background-image: url('png/x_icon.png'); background-repeat: no-repeat; }

