.icon-BrandUSA { background-image: url('png/BrandUSA.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-blue-triangle-down { background-image: url('png/blue-triangle-down.png'); background-repeat: no-repeat; }

.icon-blue-triangle-right { background-image: url('png/blue-triangle-right.png'); background-repeat: no-repeat; }

.icon-blue-triangle-right2 { background-image: url('png/blue-triangle-right2.png'); background-repeat: no-repeat; }

.icon-blue-triangle-up-01 { background-image: url('png/blue-triangle-up-01.png'); background-repeat: no-repeat; }

.icon-blue-triangle-up { background-image: url('png/blue-triangle-up.png'); background-repeat: no-repeat; }

.icon-down_arrow { background-image: url('png/down_arrow.png'); background-repeat: no-repeat; }

.icon-fb { background-image: url('png/fb.png'); background-repeat: no-repeat; }

.icon-fb_ftr { background-image: url('png/fb_ftr.png'); background-repeat: no-repeat; }

.icon-foursq { background-image: url('png/foursq.png'); background-repeat: no-repeat; }

.icon-foursquare { background-image: url('png/foursquare.png'); background-repeat: no-repeat; }

.icon-g+ { background-image: url('png/g+.png'); background-repeat: no-repeat; }

.icon-google-plus { background-image: url('png/google-plus.png'); background-repeat: no-repeat; }

.icon-green-triangle-down { background-image: url('png/green-triangle-down.png'); background-repeat: no-repeat; }

.icon-green-triangle-up { background-image: url('png/green-triangle-up.png'); background-repeat: no-repeat; }

.icon-hero_arrow { background-image: url('png/hero_arrow.png'); background-repeat: no-repeat; }

.icon-hero_arrow_white { background-image: url('png/hero_arrow_white.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-pin { background-image: url('png/pin.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-search_green { background-image: url('png/search_green.png'); background-repeat: no-repeat; }

.icon-share_this { background-image: url('png/share_this.png'); background-repeat: no-repeat; }

.icon-tw { background-image: url('png/tw.png'); background-repeat: no-repeat; }

.icon-tw_ftr { background-image: url('png/tw_ftr.png'); background-repeat: no-repeat; }

.icon-utube_brightblue { background-image: url('png/utube_brightblue.png'); background-repeat: no-repeat; }

.icon-utube_ftr { background-image: url('png/utube_ftr.png'); background-repeat: no-repeat; }

.icon-utube_gray { background-image: url('png/utube_gray.png'); background-repeat: no-repeat; }

.icon-utube_white { background-image: url('png/utube_white.png'); background-repeat: no-repeat; }

.icon-vsc_logo { background-image: url('png/vsc_logo.png'); background-repeat: no-repeat; }

.icon-white-triangle-down { background-image: url('png/white-triangle-down.png'); background-repeat: no-repeat; }

.icon-white-triangle-right { background-image: url('png/white-triangle-right.png'); background-repeat: no-repeat; }

.icon-white-triangle-right2 { background-image: url('png/white-triangle-right2.png'); background-repeat: no-repeat; }

.icon-white-triangle-up { background-image: url('png/white-triangle-up.png'); background-repeat: no-repeat; }

.icon-x_icon { background-image: url('png/x_icon.png'); background-repeat: no-repeat; }

