#header {
  background-color: $white;
  border-bottom: 1px solid $mmg-gray;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 99;

  @media #{$medium-ish} {
    padding: 1rem;
  }

  > .container {
    @extend %container-1170;

    @media #{$medium-ish} {
      @include flexbox((
        display: flex,
        justify-content: space-between,
      ));
      position: relative;
    }
  }

  #header-logo {
    text-align: center;

    img {
      max-width: 13rem;

      @media #{$medium-ish} {
        max-width: 16rem;
      }
    }
  }
  // General Menu Layout Stuff
  #header-menus-small {
    .nav-toggle {
      position: absolute;
      top: 1rem;
      left: 0;
    }

    > * {
      display: inline-block;

      @media #{$medium-ish} {
        display: none;
      }
    }

    .menu-wrapper {
      background-color: $mmg-light-gray;
      display: inline;
      left: 0;
      top: 7.4rem;
      padding: 2rem;
      position: absolute;
      width: 100%;

      &.closed {
        display: none;
      }
    }
  }

  #header-menus-large {
    text-align: right;

    ul {
      li {
        display: inline-block;
      }
    }

    @media #{$medium-ish} {
      @include flex-grow(1);
    }

    #secondary-menu--large {
      display: none;

      @media #{$medium-ish} {
        display: inline-block;
      }
    }

    #main-menu--large {
      ul {
        display: none;

        @media #{$medium-ish} {
          display: inline-block;
        }
      }

      @media #{$medium-ish} {
        @include flexbox((
          display: flex,
          justify-content: flex-end,
        ));
      }
    }
  }

  .element-invisible {
    font-size: 0;
  }
}

html.js #header div.contextual-links-wrapper {
  display: none;
}

@import 'hamburger';
@import 'menus';
@import 'search';
