#header {
  .nav-toggle {
    @media #{$medium-ish} {
      display: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-image: none;
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }

  #main-menu--large,
  #main-menu--small {
    a {
      @include rem(1.8);
    }
  }

  #secondary-menu--large,
  #secondary-menu--small {
    a {
      @include rem(1.4);
    }
  }

}
